body {
  text-align: center;
  background-color: #333;
  margin: 0;
  height: calc(100vh - 2px);
  border: 1px solid #5f5f5f;
}

a {
  text-decoration: none;
  color: white;
}

.game-list {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-img {
  width: 200px;
  height: 200px;
  margin-bottom: -20px;
  border: 2px solid #fff;
  box-shadow: 5px 5px 3px #ccc;
  border-radius: 25px;
}

.game:hover {
  font-size: 25px;
}

.game:hover img {
  width: 230px;
  height: 230px;
  box-shadow: 7px 7px 5px #ccc;
}

/* Navbar styling */

.navbar {
  display: flex;
  justify-content: flex-end;
  -webkit-app-region: drag;
  border: #5f5f5f 1px solid;
  box-shadow: 0px 1px 1px #707070;
}

.navbar button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  -webkit-app-region: no-drag;
  background: none;
  padding: 2px 0;
  margin: 0 4px;
}

.navbar button:hover {
  color: #5f5f5f;
}

#home {
  position: absolute;
  left: 10px;
}
