body {
  text-align: center;
  background-color: #333;
  margin: 0;
  height: calc(100vh - 2px);
  border: 1px solid #5f5f5f;
}

#game {
  display: flex;
  height: calc(100vh - 40px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Score/Time Display and Button Styling */
#game-header {
  display: flex;
  justify-content: space-between;
  width: 606px;
  background-color: #6b8801;
  border: 2px solid black;
}

h2 {
  padding: 3px;
  font-size: 26px;
}

#start {
  font-size: 30px;
}

#score {
  border-right: black solid 1px;
  margin-right: 30px;
  padding-right: 25px;
  align-self: center;
}

#timer {
  border-right: black solid 1px;
  margin-right: 30px;
  padding-right: 25px;
  align-self: center;
}

/* Grid of holes */
.grid {
  display: flex;
  width: 606px;
  height: 606px;
  flex-wrap: wrap;
  border: 2px solid black;
  background-image: url(grass.webp);
  background-size: contain;
}

.square {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  background-image: url(3C.png);
  background-size: cover;
}

/* Mole reactions */
.mole {
  background-image: url(3B.png);
  background-size: cover;
}

.bonk {
  background-image: url(3A.png);
  background-size: cover;
}

/* For small screens */
@media only screen and (max-height: 700px) {
  .grid {
    width: 450px;
    height: auto;
  }
  #game-header {
    width: 450px;
    height: auto;
  }
  .square {
    width: 150px;
    height: 150px;
    background-size: cover;
  }

  h2 {
    padding: 3px;
    font-size: 16px;
  }

  #start {
    font-size: 16px;
  }
}

/* App Nav */

.navbar {
  display: flex;
  justify-content: flex-end;
  -webkit-app-region: drag;
  border: #5f5f5f 2px solid;
  box-shadow: 0px 1px 1px #707070;
}

.navbar button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  -webkit-app-region: no-drag;
  background: none;
  padding: 2px 0;
  margin: 0 4px;
}

.navbar button:hover {
  color: #5f5f5f;
}

#home {
  position: absolute;
  left: 10px;
}
